{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png?v=1' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-32x32.png?v=1' | url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon/favicon-16x16.png?v=1' | url }}" sizes="16x16">
<link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico?v=1' | url }}">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#333333">

{# RSS Feeds #}
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}">

{# 11ty <3 #}
<meta name="generator" content="{{ eleventy.generator }}">