---
layout: base
tags: nav
title: blog
eleventyNavigation:
  key: diskografi
  order: 4
permalink: /discography/
---
<h1>diskografimiz</h1>

{% set discography = collections.releases %}
{% include "postslist.njk" %}
