<!doctype html>
<html lang="{{ metadata.language }}">
  <!--!
  Oh so you're an inspector?
  View the source here: {{ metadata.repo }}
-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        {% if not build.dev and not build.naked %}
            {% viteLinkStylesheetTags %}
        {% endif %}
	</head>
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">
                    <img
                        src="{{ '/assets/images/icon_cropped.png' | url }}"
                        width="81" height="38" alt="SPRAY"
                    />
			</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="main">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>
		<footer>
			<p>
			{#- <strong>&copy; 2025&ndash;{{ build.timestamp | dateToFormat('yyyy') }}</strong><br /> #}
				<a class="p-name u-url" rel="me" href="{{ site.url }}">{{ author.name }}</a>
			</p>
			<p>
				<a href="{{ metadata.repo }}/tree/master/{{ page.inputPath }}">
				    {% icon "github" %}
				</a>
				<a href="{{ "/feed.xml" | url }}">
                {% icon "rss" %}
				</a>
			</p>
		</footer>

    {% if build.dev %}
      <script type="module" src="http://localhost:5173/@vite/client"></script>
      <script
        type="module"
        src="http://localhost:5173/src/assets/scripts/main.js"
      ></script>
    {% else %}
      {% viteScriptTag %}
    {% endif %}
	</body>
</html>
